.p-product {
	&__title {margin-bottom: 32px;}
}

.product-content {
	margin-bottom: 60px;
	padding: 48px 60px 40px;
	background: $white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 25px;
	&__content {
		display: flex;
		justify-content: space-between;
		padding-bottom: 60px;
		margin-bottom: 32px;
		border-bottom: 1px solid $ui-mdm-gray;
	}
	&__slider {display: flex;}
	&__thumbs {
		flex-shrink: 0;
		position: relative;
		margin-right: 32px;
	}
	&__description {max-width: 254px;}
	&__title {margin-bottom: 24px;}
	&__list {
		li {
			margin-bottom: 24px;
			font-weight: 600;
			span {
				display: block;
				&:first-child {
					margin-bottom: 4px;
					color: $txt-gray60;
					font-size: 12px;
					line-height: 135%;
				}
				&:last-child {
					color: $txt-black90;
					font-size: 14px;
					line-height: 135%;
				}
			}
		}
	}
	&__more-description {
		font-size: 14px;
		font-weight: 500;
		line-height: 150%;
		&:hover {text-decoration: none;}
	}
	&__mark {
		ul {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin: 0px;
			padding: 0px;
		}
		li {
			margin-bottom: 10px !important;
			&::after {display: none;}
			&:not(:last-child) {margin-right: 10px;}
			& > a {
				display: inline-block;
				padding: 6px 12px;
				background: $ui-mdm-gray;
				border-radius: 50px;
				font-size: 14px;
				font-weight: 500;
				line-height: 150%;
				&:hover {background: $ui-mdm-gray2}
				&:active {background: $ui-mdm-gray3}
			}
		}
	}
	&__mark-title {margin-bottom: 20px;}
	&__more {
		display: inline;
		color: $txt-black;
		font-size: 14px;
		font-weight: 600;
		line-height: 150%;
		transition: .2s ease;
		cursor: pointer;
		span {
			&:last-child {
				color: $accent-main;
				transition: .2s ease;
			}
		}
		&:hover {
			color: $accent-main2;
			span {
				&:last-child {color: $accent-main2;}
			}
		}
		&:active {
			color: $accent-main3;
			span {
				&:last-child {color: $accent-main3;}
			}
		}
	}
	&__sidebar {
		display: none;
		margin-top: 48px;
	}
}

.product-tabs {
	margin-bottom: 80px;
	color: $txt-black90;
	h2 {
		margin-bottom: 24px;
		color: $txt-black;
		font-size: 36px;
		font-weight: 700;
		line-height: 125%;
	}
	a {
		color: $accent-main;
		&:hover {color: $accent-main2;}
		&:active {color: $accent-main;}
	}
	p {
		margin-bottom: 0px;
		&:not(:last-child) {margin-bottom: 24px;}
	}
	&__description {
		img {
			position: relative;
			max-width: 100%;
			width: 100%;
			height: 360px;
			margin: 48px 0px;
			border-radius: 25px;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
			}
		}
	}
	&__description {
		img {
			position: relative;
			max-width: 100%;
			width: 100%;
			height: 360px;
			margin: 48px 0px;
			border-radius: 25px;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;
				left: 0px;
				filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
			}
		}
	}
	&__specification {
		table {width: 100%;}
		tr {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			&:not(:last-child) {margin-bottom: 10px;}
		}
		td {
			max-width: 50%;
			width: 100%;
			color: $txt-gray;
			font-weight: 500;
			&:first-child {
				position: relative;
				word-break: break-word;
				&::before {
					content: '';
					display: block;
					bottom: 7px;
					left: 0;
					position: absolute;
					width: 100%;
					border-bottom: 1px dashed rgba($color: $ui-dark-gray30, $alpha: .3);
				}
			}
			&:last-child {color: $txt-black90;}
		}
		span {
			display: inline-flex;
			align-items: flex-start;
			position: relative;
			height: 100%;
			padding-right: 3px;
			background: $white;
		}
	}
	&__delivery {
		p {
			&:not(:last-child) {margin-bottom: 20px;}
		}
	}
}

@media only screen and (max-width: 1199px) {
	.p-product {
		.col-xl-3 {display: none;}
	}
	.product-content {
		padding: 40px;
		&__content {
			margin-bottom: 48px;
			padding-bottom: 0px;
			border: none;
		}
		&__sidebar {display: block;}
	}
}

@media only screen and (max-width: 991px) {
	.product-content {
		&__description {max-width: 200px;}
	}
}

@media only screen and (max-width: 767px) {
	.product-content {
		padding: 0px;
		box-shadow: none;
		&__content {
			display: block;
			margin-bottom: 36px;
		}
		&__slider {
			justify-content: center;
			margin-bottom: 36px;
		}
		&__thumbs {display: none;}
		&__sidebar {margin-top: 26px;}
	}
	.product-tabs {
		margin-bottom: 60px;
		h2 {font-size: 20px;}
		p, ul, table {font-size: 14px;}
		&__description {
			img {
				height: 260px;
				margin: 36px 0px;
			}
		}
		.tabs__nav {
			overflow-x: auto;
			button {white-space: nowrap}
		}
	}
}