.catalog-card
	a.catalog-card__wrap(href='#')
		.catalog-card__img
			img(src=`../../../../static/images/content/img.jpg`, alt='')
		.catalog-card__content
			.catalog-card__count 12 видов
			.catalog-card__title Сталь
		.catalog-card__btn.btn.btn--circle
			+icon('arrow-right')