a.news-card.news-card--big(href='#')
	.news-card__img
		img(src='../../../../static/images/content/news-card.jpg', alt='Разнообразие кабельной продукции')
	.news-card__title Разнообразие кабельной продукции
	.news-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.
	.news-card__hashtag #производство
	.news-card__btn.btn.btn--circle.btn--trparent-svg
		+icon('arrow-right')