<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog--wdh414 modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body d-flex flex-column">
                <div class="modal-body__close" data-dismiss="modal" aria-label="close">
                    <svg class="svg-sprite-icon icon-close">
                        <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#close"></use>
                    </svg>
                </div>
                <div class="modal-body__title">Заявка отправлена</div>
                <div class="modal-body__subtitle">Вы запросили цену на товар:</div>
                <div class="modal-body__product-title">Уплотнительное кольцо для резьбового соединения DIN, EPDM,
                    SILIKON, NBR, TEFLON, VITON DN 15
                </div>
                <div class="modal-body__text">Мы свяжемся с вами в ближайшее время!</div>
                <div class="modal-body__button btn" data-dismiss="modal" aria-label="close">Закрыть</div>
                <div class="modal-body__policy">Нажимая кнопку закрыть, вы соглашаетесь с <a class="txt--clr1"
                                                                                             href="{% url 'menu:policy' %}"
                                                                                             target="_blank">политикой
                    обработки персональных данных</a></div>
            </div>
        </div>
    </div>
</div>