.s-service-card
	.s-service-card__img
		img(src='#{static_url}images/content/service.jpg', alt='Гидроабразивная резка')
	.s-service-card__content
		h3.s-service-card__title Возможно, вам нужна гидроабразивная резка?
		p.s-service-card__text С данным товаром часто заказывают гидроабразивную резку, поэтому мы предлагаем вам добавить ее в корзину
		.s-service-card__buttons
			button.btn.btn--br50
				| В заявку
				+icon('add-basket')
			a.txt--clr1(href='#')
				| Узнать больше об услуге
				+icon('arrow-right')