.service-card
	.service-card__img
		img(src='#{static_url}images/content/service.jpg', alt='Гидроабразивная резка')
	.service-card__content
		h3.service-card__title Лазерная резка
		p.service-card__text Разновидность металлообработки под давлением при помощи взвеси воды и абразива.
		a.service-card__button.txt--clr1(href='#')
			+icon('arrow-right')