<!--navigation-->
<header class="main-header">
    <!-- Logo -->
    <a href="{% url 'admin_m:index' %}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>DM</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>ADM</b> {{ site_name }}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ static_admin_url }}images/logo.png" class="user-image"
                             alt="{{ current_user.name }}">
                        <span class="hidden-xs">{{ request.user.get_full_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ static_admin_url }}images/logo.png" class="img-circle"
                                 alt="{{ current_user.name }}">

                            <p>
                                {{ request.user.get_full_name }}
                                <small>{{ request.user.email }}</small>
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-right">
                                <a href="/admin/logout/" class="btn btn-default btn-flat">Выход</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="
                        {% if current_user.image %}{{ media_url }}{{ current_user.image }}{% else %}{{ static_admin_url }}images/logo.png{% endif %}"
                     class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ request.user.get_full_name }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header"></li>

            {% comment %} <li class="">
                <a href="{% url "admin_m:import" %}">
                    <i class="fa fa-book"></i> <span>Импорт</span>
                </a>
            </li> {% endcomment %}
            <li class="">
                <a href="{% url "admin_m:import" %}">
                    <i class="fa fa-table"></i> <span>Импорт</span>
                </a>
            </li>
            <li class="">
                <a href="/admin/">
                    <i class="fa fa-edit"></i> <span>Администрирование</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--end navigation-->