.modal-basket__body
	.modal-basket__img
		img(src='#{static_url}images/general/logo-color.svg', alt='Велунд сталь')
	.modal-basket__accent-txt.txt--bld36 Спасибо за заявку!
	.modal-basket__text Мы свяжемся с вами в ближайшее время, чтобы подтвердить заявку и обсудить все детали заказа
	.modal-basket__buttons
		a.btn.btn--h52.btn--wdh220.btn--br50.btn--m-wdh100(href='/') Перейти на главную
		button.btn.btn--h52.btn--wdh220.btn--gray.btn--br50.btn--m-wdh100(type='button' data-dismiss='modal') Закрыть окно