.modal-basket__body
	.modal-basket__list
		include ../../cards/basket-card/basket-card
		//- each item in cart_items
			if item.product
				include ../../cards/basket-card/basket-card
			elif item.product.is_service
				include ../../cards/basket-card/basket-card-service
			elif item.product.is_manufacture
				include ../../cards/basket-card/basket-card-manufacturing
	.modal-basket__buttons.modal-basket__fixed
		button.modal-basket__request.btn.btn--h52.btn--wdh220.btn--br50.btn--m-wdh100(type='button') Оформить заявку
		button.modal-basket__clear-list.btn.btn--link(type='button') Очистить список
