<div id="button-top">
    <svg class="svg-sprite-icon icon-arrow">
        <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
    </svg>
</div>
<footer>
    <div class="footer">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="footer__logo"><a class="logo" href="index.html"><img
                                src="{{ static_url }}images/general/logo.svg" alt="Логотип"></a></div>
                    <div class="footer__communicating">
                        <div class="footer__phone txt--bld16"><a class="d-flex align-items-center"
                                href="tel:{{ current_filial.phone }}">
                                <svg class="svg-sprite-icon icon-phone">
                                    <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#phone"></use>
                                </svg>{{ current_filial.phone }}</a></div>
                        <div class="footer__mail txt--bld16"><a class="d-flex align-items-center"
                                href="mailto:{{ current_filial.email }}">
                                <svg class="svg-sprite-icon icon-mail">
                                    <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#mail"></use>
                                </svg>{{ current_filial.email }}</a></div>
                        <div class="footer__work txt--bld16 ds-hidden">Пн-Пт 9:00-18:00</div>
                    </div>
                    <div class="footer__button btn" data-toggle="modal" data-target="#modal6">Обратный звонок</div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 m-hidden">
                    <div class="footer__menu">
                        <div class="footer__title">Каталог</div>
                        <ul class="footer__list">
                            {% for item in menu_list_footer_left %}
                                <li><a href="{% url 'menu:menu' item.slug %}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-4 mt-md-0 m-hidden">
                    <div class="footer__menu">
                        <div class="footer__title">Информация</div>
                        <ul class="footer__list">
                            {% for item in menu_list_footer_rigth %}
                                <li><a href="{% url 'menu:menu' item.slug %}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mt-sm-4 mt-md-0">
                    <div class="footer__work m-hidden">
                        <div class="footer__title">График работы</div>
                        <ul class="footer__list">
                            <li><span>Пн-Пт</span><span>09:00 - 18:00</span></li>
                        </ul>
                    </div>
                    <div class="footer__address">
                        <div class="footer__title">Адрес</div>
                        <div class="footer__text">{{ current_filial.address }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>