.hidden-card
	h2.hidden-card__title Доставка
	p.hidden-card__text Наши филиалы в России и Казахстане отмечены на карте. Вы можете забрать товары со склада любого из них или заказать доставку.
	.hidden-card__accordion.accordion
		| Узнать больше
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		p Мы привезем заказ в любой регион России и стран СНГ: Азербайджана, Армении, Белоруссии, Казахстана, Киргизии, Молдавии, Таджикистана, Узбекистана.
		p “Велунд Сталь” принимает заявки из труднодоступных месторождений и доставляет грузы в регионы Крайнего Севера. Мы содержим автопарк, чтобы выполнять сложные заказы.