.hidden-card
	h2.hidden-card__title Условия доставки
	p.hidden-card__text Обеспечение высокого уровня обслуживания покупателей в своем подразделении. Создание приятного впечатления от посещения магазина, чтобы покупатели не могли устоять перед покупкой.
	.hidden-card__accordion.accordion
		| Узнать больше
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		p Мы привезем заказ в любой регион России и стран СНГ: Азербайджана, Армении, Белоруссии, Казахстана, Киргизии, Молдавии, Таджикистана, Узбекистана.
		p “Велунд Сталь” принимает заявки из труднодоступных месторождений и доставляет грузы в регионы Крайнего Севера. Мы содержим автопарк, чтобы выполнять сложные заказы.