.hidden-card
	h2.hidden-card__title Менеджер по продажам
	.hidden-card__location Екатеринбург, Москва, Астана, Тюмень
	p.hidden-card__text Обеспечение высокого уровня обслуживания покупателей в своем подразделении. Создание приятного впечатления от посещения магазина, чтобы покупатели не могли устоять.
	.hidden-card__accordion.accordion
		| Узнать меньше о вакансии
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		h3 Требования
		ul
			li Обязательно: опыт активных продаж (рассмотрим кандидатов без опыта продаж металлопроката)
			li Уверенный пользователь ПК
			li Ответственность‚ пунктуальность‚ коммуникабельность‚ нацеленность на конечный результат, активная позиция
		h3 Обязанности
		ul
			li Активный поиск клиентов
			li Прямые активные продажи металлопроката
			li Проведение переговоров‚ заключение договоров
			li Осуществление технической и информационной поддержки клиентов
		h3 Условия работы
		ul
			li Пятидневная рабочая неделя (с 9.00 до 17.00)
			li Высокий процент от продаж, позволяющий обеспечить среднемесячную зарплату от 50 000 р и выше
			li Работа в современном офисе, расположенном в шаговой доступности от всей инфраструктуры города
			li Испытательный срок до 3 месяцев
		.hidden-card__mail
			.hidden-card__icon
				+icon('document')
			.hidden-card__content-text
				p.txt--mdm14
					| Ждем ваше резюме на почту 
					a.txt--clr1(href='mailto:#{current_filial.email}')=current_filial.email
				p.txt--mdm12 Кандидатов без резюме не рассматриваем