.hidden-card
	h2.hidden-card__title Оплата
	p.hidden-card__text Наши филиалы в России и Казахстане отмечены на карте. Вы можете забрать товары со склада любого из них или заказать доставку.
	.hidden-card__accordion.accordion
		| Узнать больше
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		p Мы принимаем:
		ul
			li наличные средства в офисах компании;
			li безналичные переводы на расчетный счет.
		p Постоянным покупателям предоставляем отсрочку платежа.