.hidden-card
	h2.hidden-card__title Работа с физ. лицами и по тендерам
	p.hidden-card__text
		| Велунд Сталь участвует в тендерах на поставку металлопроката, сырья и оборудования. Высылайте конкурсные приглашения к участию и инструкции на электронную почту 
		a.txt--clr1(href='mailto:#{current_filial.email}')=current_filial.email
	.hidden-card__accordion.accordion
		| Узнать больше
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		p Мы принимаем:
		ul
			li наличные средства в офисах компании;
			li безналичные переводы на расчетный счет.
		p Постоянным покупателям предоставляем отсрочку платежа.