.hidden-card
	h2.hidden-card__title О продаже в розницу
	p.hidden-card__text Обеспечение высокого уровня обслуживания покупателей в своем подразделении. Создание приятного впечатления от посещения магазина, чтобы покупатели не могли устоять перед покупкой.
	.hidden-card__accordion.accordion
		| Узнать больше
		+icon('arrow-down')
	.hidden-card__main-text.accordion-panel
		p Мы принимаем:
		ul
			li наличные средства в офисах компании;
			li безналичные переводы на расчетный счет.
		p Постоянным покупателям предоставляем отсрочку платежа.