section.s-main-delivery
	.container-xxl
		.s-main-delivery__content
			.s-main-delivery__img
				img(src='../../../static/images/general/truck.png', alt='Грузовик')
			.row
				.offset-xl-6.offset-md-5.col-xl-5.col-md-7
					.s-main-delivery__wrap
						h2.s-main-delivery__title.txt--bld40 Быстрая доставка в любую точку мира
						p.s-main-delivery__text.txt--rgl18 Берем на себя все этапы транспортировки:  наши логисты выстроят оптимальную схему доставки, а водители доставят груз быстро и сохранно.
						a.s-main-delivery__link(href='#')
							| Подробнее
							+icon('arrow-right')
						.s-main-delivery__list
							.s-main-delivery__item
								.s-main-delivery__icon
									+icon('equipment')
								.s-main-delivery__i-text Скомплектуем заказ
							.s-main-delivery__item
								.s-main-delivery__icon
									+icon('route')
								.s-main-delivery__i-text Составим маршрут
							.s-main-delivery__item
								.s-main-delivery__icon
									+icon('secure')
								.s-main-delivery__i-text Оформим документы
							.s-main-delivery__item
								.s-main-delivery__icon
									+icon('truck')
								.s-main-delivery__i-text Доставим груз