extends template/main

block variables
	- var title = ''
	- var description = ''

include ../ui-kit/ui-breadcrumbs/ui-breadcrumbs

block content
	include ./pages/catalog/p-catalog-list
	include ../templates/modules/s-all/s-all-gost/s-all-gost
	include ../templates/modules/s-all/s-all-stocks/s-all-stocks
	include ../templates/modules/s-all/s-all-popular-categories/s-all-popular-categories-2
	include ../templates/modules/s-all/s-all-seotext/s-all-seotext
	include ../templates/modules/s-all/s-all-city/s-all-city
	include ../templates/modules/s-all/s-all-text/s-all-text

block modal
	include ../templates/modules/modal/modal-city
	include ../templates/modules/modal/modal-callback
	include ../templates/modules/modal/modal-thanks
	include ../templates/modules/modal/modal-basket/modal-basket
	include ../templates/modules/modal/modal-search