extends template/main

block variables
    - var title = ''
    - var description = ''

block content
    include ./pages/main/s-main-slider
    include ../templates/modules/s-all/s-all-popular-categories/s-all-popular-categories
    include ./pages/main/s-main-catalog
    include ./pages/main/s-main-manufacturing
    include ./pages/main/s-main-work
    include ./pages/main/s-main-delivery
    include ../templates/modules/s-all/s-all-stocks/s-all-stocks
    include ../templates/modules/s-all/s-all-news/s-all-news
    include ./pages/main/s-main-answers
    include ../templates/modules/s-all/s-all-feedback/s-all-feedback

block modal
    include ../templates/modules/modal/modal-city
    include ../templates/modules/modal/modal-callback
    include ../templates/modules/modal/modal-thanks
    include ../templates/modules/modal/modal-basket/modal-basket
    include ../templates/modules/modal/modal-search