include ../../cards/news-card/news-card

section.s-all-news
    .container-xxl
        .s-all-news__content
            .s-all-news__header
                h2.txt--bld40 Наши новости
                a.link.link--w(href='#')
                    span Все новости
                    +icon('arrow-right-2')
            .s-all-news__slider
                .news-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .news-slider__item
                                +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020')
                        .swiper-slide
                            .news-slider__item
                                +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020', '', true, 'news-card', 'news-card--big')
                                //- +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020')
                        .swiper-slide
                            .news-slider__item
                                //- +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020')
                                +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020', 'news-card--accent')
                        .swiper-slide
                            .news-slider__item
                                //- +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020')
                                +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020', 'news-card--accent-dark')
                        .swiper-slide
                            .news-slider__item
                                +newsCard('Разнообразие кабельной продукции', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.', '20.10.2020')
                button.news-slider__prev.swiper-prev
                    +icon('arrow-right-2')
                button.news-slider__next.swiper-next
                    +icon('arrow-right-2')
					