section.s-all-news
	.container-xxl
		.s-all-news__content
			.s-all-news__header
				h2.txt--bld40 Наши новости
				a.link.link--w(href='#')
					span Все новости
					+icon('arrow-right-2')
			.s-all-news__slider
				.news-slider.swiper-container
					.swiper-wrapper
						each news in news_list
							.swiper-slide
								.news-slider__item
									include ../../cards/news-card/news-card
				button.news-slider__prev.swiper-prev
					+icon('arrow-right-2')
				button.news-slider__next.swiper-next
					+icon('arrow-right-2')