.bottom-line
	.bottom-line__left
		nav.bottom-line__nav.txt--mdm14
			.bottom-line__catalog-menu
				a(href='/catalog')
					+icon('menu')
					| Каталог
				.bottom-line__catalog
					include ./catalog-menu.pug
			.bottom-line__slider
				.catalog-slider-container.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.spacial(href='/spec')
								+icon('star')
								| Акции
						each category in catalog_menu_list
							each category_2 in category.get_child
								.swiper-slide
									a(href=category_2.url)=category_2.name
				.catalog-slider-container__wrap-prev
					button.catalog-slider-container__prev.swiper-prev.swiper-prev--header
						+icon('arrow-right-2')
				.catalog-slider-container__wrap-next
					button.catalog-slider-container__next.swiper-next.swiper-next--header
						+icon('arrow-right-2')
	.bottom-line__right
		.bottom-line__search-input
			.bottom-line__tooltip
				.search-input
					button.search-input__search
						+icon('search')
					input(type='search', placeholder='Найти товар')
					button.search-input__close
						+icon('close')
				nav.bottom-line__tooltip-list
					.bottom-line__tooltip-title.txt--smbld14 Популярные запросы
					ul.bottom-line__tooltip-listing.txt--mdm14
						li
							a(href='#') Трубы в изоляции
						li
							a(href='#') Арматура КЛ АТ800
						li
							a(href='#') Катанка 5.5
						li
							a(href='#') Лента Х/К упаковочная
						li
							a(href='#') Электроды
						li
							a(href='#') Дюбель стальной MOLLY
				.bottom-line__tooltip-link.txt--smbld14
					a(href='#')
						| Все результаты поиска
						+icon('arrow-right')
		button#open-search-header.bottom-line__search.btn.btn--circle.btn--trparent
			+icon('search')
		.bottom-line__basket(data-toggle='modal' data-target='#modal-basket')
			button.btn.btn--h40 Заявка