.bottom-line
	.bottom-line__left
		nav.bottom-line__nav
			ul.bottom-line__navitagion-panel.txt--mdm14
				li.spacial
					a(href='/spec')
						+icon('star')
						| Акции
				each category in catalog_menu_list
					each sub_category in category.get_child
						li
							a(href=sub_category.url)=sub_category.name
							.bottom-line__catalog
								include ./catalog-menu.pug
	.bottom-line__right
		.bottom-line__search-input.search-input
			button.search-input__search
				+icon('search')
			input(type='search', placeholder='Найти товар')
			button.search-input__close
				+icon('close')
		button#open-search-header.bottom-line__search.btn.btn--circle.btn--trparent
			+icon('search')
		.bottom-line__basket(data-toggle='modal' data-target='#modal-basket')
			button.btn.btn--h40 Заявка
