.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0px 120px;
	font-size: 14px;
	font-weight: 600;
	&__left {
		display: flex;
		align-items: center;
	}
	&__list {
		display: flex;
		align-items: center;
		margin: 0px;
		a, i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			color: $txt-black90 !important;
			border-radius: 50%;
			line-height: 150%;
			user-select: none;
			cursor: pointer;
			&.current {
				background: $accent-main;
				color: $white !important;
				&:hover {
					background: $accent-main2;
					color: $white !important;
				}
				&:active {
					background: $accent-main3;
					color: $white !important;
				}
			}
			&:hover {color: $accent-main2 !important;}
			&:active {color: $accent-main3 !important;}
		}
		i {
			cursor: default;
			&:hover, &:active {color: $txt-black90 !important;}
		}
	}
	&__prev, &__next {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		line-height: 150%;
		user-select: none;
		transition: .2s ease;
		cursor: pointer;
		svg {fill: $txt-black90;}
		&:hover {
			svg {fill: $accent-main2;}
		}
		&:active {
			svg {fill: $accent-main3;}
		}
	}
	&__prev {
		margin-right: 12px;
		svg {
			transform: rotate(180deg);
			margin-right: 6px;
		}
	}
	&__next {
		margin-left: 12px;
		svg {margin-left: 6px;}
	}
	&__right {
		display: flex;
		align-items: center;
	}
	&__text {
		margin-right: 4px;
		color: $txt-black90;
		letter-spacing: .02em;
	}
	&__link {
		display: flex;
		align-items: center;
		letter-spacing: .02em;
		cursor: pointer;
		svg {margin-left: 8px;}
	}
}

@media only screen and (max-width: 1199px) {
	.pagination {
		margin: 20px 0px 80px;
	}
}

// @media only screen and (max-width: 991px) {
// 	.pagination {
		
// 	}
// }

@media only screen and (max-width: 767px) {
	.pagination {
		margin: 20px 0px 60px;
		flex-direction: column;
		&__right {
			justify-content: center;
			width: 100%;
			margin-top: 20px;
		}
		&__list {
			a, i {
				width: 30px;
				height: 30px;
			}
		}
		&__prev {margin-right: 6px;}
		&__next {margin-left: 6px;}
	}
}