.manufacturing-text
	h2 Описание производства
	p 
		| Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость 
		a(href='#') трубы бесшовной 38х3 
		| зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
	ul
		li 05Х12Н6Д2МФСГТ
		li 11Х4В2МФ3С2
		li 11ХФ
		li 27Х2Н2М1Ф
		li 2Х6В8М2К8
		li 3Х2МНФ
	figure
		img(src='#{static_url}images/content/product-img.jpg', alt='')
	p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
	p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете: