section.p-manufacturing
	.container-xxl
		.row
			.col-xl-9
				h1.p-manufacturing__title.txt--bld40 Производство пружин
			.col-12
				.row
					.col-xl-9
						include ./manufacturing-content
						include ./manufacturing-text
					.col-xl-3
						include ../../modules/scroll-sidebar/scroll-sidebar-manufacturing