section.p-service-listing#page(data-base-url=current_menu.url)
	.container-xxl
		h1.txt--bld40 Виды услуг
		.p-service-listing__callback.b-all-callback
			.b-all-callback__content.b-all-callback__content--wdh776
				.b-all-callback__title Нужна услуга по металлообработке, оставьте телефон и мы перезвоним вам
				form.b-all-callback__form.needs-validation(action='', method='get', novalidate)
					.form-group
							input.form-control(type='tel', placeholder='Ваш телефон', pattern="\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}", minlength='18', inputmode='numeric', required)
							button.btn.btn--circle(type='submit')
								+icon('arrow-right')
					.form-group
						label.checkbox.checkbox--white
							input.form-control(type='checkbox', checked, required)
							span.checkbox__text
								.policy.policy--white
									| Даю согласие на 
									a(href='policy.html', target='_blank') обработку персональных данных
			.b-all-callback__wrap-img
				.b-all-callback__img
		.p-service-listing__filters
			.service-slider-container.swiper-container
				.swiper-wrapper
					.swiper-slide
						label.checkbox-btn
							input(type='checkbox')
							span Все
					.swiper-slide
						label.checkbox-btn
							input(type='checkbox')
							span Резка
					.swiper-slide
						label.checkbox-btn
							input(type='checkbox')
							span Плавка
					.swiper-slide
						label.checkbox-btn
							input(type='checkbox')
							span Полировка
		.row
			.col-sm-6
				include  ../../modules/cards/service-card/service-card
			.col-sm-6
				include  ../../modules/cards/service-card/service-card
			.col-sm-6
				include  ../../modules/cards/service-card/service-card
			.col-sm-6
				include  ../../modules/cards/service-card/service-card
			.col-12
				.download-button.btn.btn--gray.btn--br50 Показать еще
				include ../../modules/pagination/pagination