section.s-main-work
	.container-xxl
		.row
			.offset-xl-2.col-xl-10
				h2.s-main-work__s-title.txt--bld40 Как мы работаем
				.row
					.col-md-6
						.s-main-work__list
							.s-main-work__item
								.s-main-work__header.accordion.accordion--hide(data-id='0')
									.s-main-work__step.btn.btn--circle 1
									.s-main-work__title.txt--smbld18 Вы оставляете заявку
								.s-main-work__content.accordion-panel.txt--mdm14
									p
										| Вы можете заказать нужные товары на сайте или оформить заявку через менеджера по телефону 
										a.txt--clr1(href='tel:+73439999999') 8 (343) 999 99 99 
										| или по почте 
										a.txt--clr1(href='mailto:petropavlovsk@gkws.kz') petropavlovsk@gkws.kz
							.s-main-work__item
								.s-main-work__header.accordion.accordion--hide(data-id='1')
									.s-main-work__step.btn.btn--circle 2
									.s-main-work__title.txt--smbld18 Мы высылаем вам счет
								.s-main-work__content.accordion-panel.txt--mdm14
									p Менеджеры отдела продаж свяжутся с вами для уточнения деталей заявки, рассчитают стоимость товаров и отправят вам на почту счет для оплаты
							.s-main-work__item
								.s-main-work__header.accordion.accordion--hide(data-id='2')
									.s-main-work__step.btn.btn--circle 3
									.s-main-work__title.txt--smbld18 Комплектуем и доставляем
								.s-main-work__content.accordion-panel.txt--mdm14
									p Мы отгружаем продукцию на склад, комплектуем и доставляем вам. Всю ответственность за сохранность груза и необходимую документацию берем на себя.
							.s-main-work__item
								.s-main-work__header.accordion.accordion--hide(data-id='3')
									.s-main-work__step.btn.btn--circle 4
									.s-main-work__title.txt--smbld18 Вы получаете заказ
								.s-main-work__content.accordion-panel.txt--mdm14
									p Мы выбираем самый оптимальный маршрут до пункта назначения и можем доставить  груз даже в труднодоступные места.
					.col-md-6
						.s-main-work__block
							.s-main-work__ellipse
							img(src='../../../static/images/content/work.png', alt='Оставить заявку')
							img(src='../../../static/images/content/work-2.png', alt='Отправка счета')
							img(src='../../../static/images/content/work-3.png', alt='Комплектуем и доставляем')
							img(src='../../../static/images/content/work-4.png', alt='Вы получаете заказ')