section.s-main-answers
    .container-xxl
        .row
            .offset-xl-2.col-xl-8.offset-md-1.col-md-10
                h2.txt--bld40 Часто спрашивают, так что мы отвечаем
                .s-main-answers__text.txt--rgl18 Мы собрали самые популярные вопросы наших клиентов в одном месте
                .s-main-answers__list
                    a.s-main-answers__item(href='#')
                        | Какие условия доставки?
                        +icon('arrow-right')
                    a.s-main-answers__item(href='#')
                        | Сотрудничаем ли мы с физ. лицами и тендерами?
                        +icon('arrow-right')
                    a.s-main-answers__item(href='#')
                        | Есть ли продажа в розницу?
                        +icon('arrow-right')
                    a.s-main-answers__item(href='#')
                        | Есть ли минимальная сумма заказа?
                        +icon('arrow-right')