section.s-main-catalog
    .container-xxl
        .s-main-catalog__header
            h2.txt--bld40 Каталог
            a.link(href='#')
                span Весь каталог
                +icon('arrow-right-2')
        .s-main-catalog__slider
            .catalog-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .catalog-slider__item
                            include ../../modules/cards/catalog-card/catalog-card.pug
                    .swiper-slide
                        .catalog-slider__item
                            include ../../modules/cards/catalog-card/catalog-card.pug
                    .swiper-slide
                        .catalog-slider__item
                            include ../../modules/cards/catalog-card/catalog-card.pug
                    .swiper-slide
                        .catalog-slider__item
                            include ../../modules/cards/catalog-card/catalog-card.pug
                    .swiper-slide
                        .catalog-slider__item
                            include ../../modules/cards/catalog-card/catalog-card.pug
            button.catalog-slider__prev.swiper-prev
                +icon('arrow-right-2')
            button.catalog-slider__next.swiper-next
                +icon('arrow-right-2')