section.p-product-listing
	.container-xxl
		.p-product-listing__title
			h1.txt--bld40=current_menu.name
			.count-listing=product_list_count
		.p-product-listing__filters
			.filters-slider-container.swiper-container
				.swiper-wrapper
					.swiper-slide
						button.filter.filter-all.btn.btn--br50.btn--gray(data-filter='all') Все фильтры
					.swiper-slide
						button.filter.filter-price.btn.btn--br50.btn--gray(data-filter='price') Только с ценой
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='mark') Марка
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='gost') ГОСТ
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='height') Высота
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
					.swiper-slide
						button.filter.btn.btn--br50.btn--gray(data-filter='type') Тип соединения
							.filter__delete
								+icon('close')
				.filters-swiper-scrollbar
		.row
			.col-xl-9
				.row
					if product_list
						each product in product_list
							.col-lg-3.col-md-4.col-sm-6
								include  ../../modules/cards/stocks-card/stocks-card
					.col-12
						.custom-product
							.custom-product__content
								.custom-product__img
									img(src='../../../static/images/general/logo-cust-prod.svg', alt='Велунд')
								p.custom-product__text Мы можем сделать изделие на заказ из любого металла
								a.custom-product__link.btn.btn--circle(href='#')
									+icon('arrow-right')
					.col-12
						.download-button.btn.btn--gray.btn--br50 Показать еще
						include ../../modules/pagination/pagination
			.col-xl-3
				include ../../modules/scroll-sidebar/scroll-sidebar-listing