      <section class="s-payment-delivery">
        <div class="container-xl">
          <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
              <div class="s-payment-delivery__payment">
                <h2 class="txt--rgl24">Оплата</h2>
                <div class="s-payment-delivery__text txt--rgl14">
                  <p>Также вы можете оставить заявку по адресу moscow@anepmetall.ru, мы обработаем её в течение одного
                    рабочего дня. Отгружаем квадрат нержавеющий со склада в день оплаты. Постоянным покупателям
                    предоставляем отсрочку платежа. Доставляем заказы по России и СНГ, по желанию есть возможность
                    самовывоза со склада в г. Москва.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="s-payment-delivery__delivery">
                <h2 class="txt--rgl24">Доставка</h2>
                <div class="s-payment-delivery__text txt--rgl14">
                  <p>Постоянным покупателям предоставляем отсрочку платежа. Доставляем заказы по России и СНГ, по
                    желанию есть возможность самовывоза со склада в г. Москва.</p>
                </div>
              </div>
            </div>
            <div class="col-12 mt-4"><a class="btn-link" href="payment-delivery.html">подробнее об оплате и доставке
                <svg class="svg-sprite-icon icon-arrow">
                  <use xlink:href="static/images/svg/symbol/sprite.svg#arrow"></use>
                </svg></a></div>
          </div>
        </div>
      </section>