.slide-banner
	.slide-banner__content
		h2.slide-banner__title.txt--bld48
			| #{slider.name}
			br
			| #{slider.text}
		a.slide-banner__link(href=slider.url)
			| Подробнее
			+icon('arrow-right')
	.slide-banner__img
		img(src=slider.image, alt='')