section.s-all-gost
    .container-xxl
        .s-all-gost__content
            h2.txt--bld40 Найдите марку или ГОСТ
            .s-all-gost__list
                nav.s-all-gost__item
                    h3 Марка
                    ul
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х105Х16
                        li
                            a(href='#') 05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х16Н5АБ
                        li
                            a(href='#') 05Х16Н5АБ05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16Н5АБЧ01222
                        li
                            a(href='#') 521-03.127
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х16Н5АБДЧ05Х16
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х16Н5АБ
                        li
                            a(href='#') 521-03.127
                        li
                            a(href='#') 05Х16Н5А05Х16
                        li
                            a(href='#') 05Х16Н5АБЧ
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х105Х16
                        li
                            a(href='#') 05Х16НЧ01222
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х105Х16
                        li
                            a(href='#') 05Х
                        li
                            a(href='#') 05Х105Х16
                        li
                            a(href='#') 05Х16Н5АБЧ01222
                nav.s-all-gost__item
                    h3 ГОСТ
                    ul
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х105Х16
                        li
                            a(href='#') 05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16Н5АБ05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х16Н5АБ
                        li
                            a(href='#') 05Х
                        li
                            a(href='#') 05Х16Н5АБ05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16Н5АБЧ01222
                        li
                            a(href='#') 521-03.127
                        li
                            a(href='#') 05Х16
                        li
                            a(href='#') 05Х16Н5АБ
                        li
                            a(href='#') 05Х
                        li
                            a(href='#') 05Х16Н5АБ05Х16Н5АБДЧ01222
                        li
                            a(href='#') 05Х16Н5АБЧ01222
                        li
                            a(href='#') 521-03.127
                        li
                            a(href='#') 05Х16