section.p-catalog-list
	.container-xxl
		h1.txt--bld40=current_menu.name
		.row
			each category in current_menu.get_child
				.col-lg-3.col-md-4.col-sm-6
					include ../../modules/cards/catalog-card/catalog-card
		.download-button.btn.btn--gray.btn--br50 Показать еще
		include ../../modules/pagination/pagination