section.p-catalog-list
	.container-xxl
		h1.txt--bld40 Конструкционная сталь
		.row
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card
			.col-lg-3.col-md-4.col-sm-6
				include ../../modules/cards/catalog-card/catalog-card-2
		.download-button.btn.btn--gray.btn--br50 Показать еще
		include ../../modules/pagination/pagination