section.p-product-listing#page(data-base-url=current_menu.url)
	.p-product-listing__wrap
		.container-xxl
			h1.p-product-listing__header.txt--bld40.stars
				+icon('star')
				| Акции
		.p-product-listing__tabs.tabs
			.p-product-listing__tab-link
				.container-xxl
					.tabs__nav
						button.tabs__nav-item(type='button') Товары
						button.tabs__nav-item(type='button') Марка
						button.tabs__nav-item(type='button') Гост
			.p-product-listing__tab-content
				.container-xxl
					.tabs__content-item
						.p-product-listing__tab-header
							h2 По запросу найдено 389 товаров в 25 категориях
						ul.p-product-listing__tab-list.txt--mdm14
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Медные трубы для водоснабжения и отопления
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Оборудование для литейного производства
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Оборудование производства
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Трубные системы для пароводяных подогревателей
							li
								a(href='#') Трубные системы
							li
								a(href='#') Трубные системы
							li
								a(href='#') Нержавеющий  шестигранник
					.tabs__content-item
						.p-product-listing__tab-header
							h2 По запросу найдено 389 товаров в 25 категориях
						ul.p-product-listing__tab-list.txt--mdm14
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Медные трубы для водоснабжения и отопления
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Оборудование для литейного производства
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Оборудование производства
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Трубные системы для пароводяных подогревателей
							li
								a(href='#') Трубные системы
							li
								a(href='#') Трубные системы
							li
								a(href='#') Нержавеющий  шестигранник
					.tabs__content-item
						.p-product-listing__tab-header
							h2 По запросу найдено 389 товаров в 25 категориях
						ul.p-product-listing__tab-list.txt--mdm14
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Медные трубы для водоснабжения и отопления
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Оборудование для литейного производства
							li
								a(href='#') Нержавеющая пружинная проволока
							li
								a(href='#') Оборудование производства
							li
								a(href='#') Нержавеющий  шестигранник
							li
								a(href='#') Трубные системы для пароводяных подогревателей
							li
								a(href='#') Трубные системы
							li
								a(href='#') Трубные системы
							li
								a(href='#') Нержавеющий  шестигранник
		.container-xxl
			.p-product-listing__filters.p-all-filters
				.filters-slider-container.swiper-container
					.swiper-wrapper
						.swiper-slide
							button.filter.filter-all.btn.btn--br50.btn--gray(data-filter='all') Все фильтры
						.swiper-slide
							button.filter.filter-price.btn.btn--br50.btn--gray(data-filter='price') Только с ценой
						.swiper-slide
							button.filter.btn.btn--br50.btn--gray(data-filter='mark') Марка
								.filter__delete
									+icon('close')
						.swiper-slide
							button.filter.btn.btn--br50.btn--gray(data-filter='gost') ГОСТ
								.filter__delete
									+icon('close')
				.filters-swiper-scrollbar
			.row
				.col-xl-9
					.row
						if product_list
							each product in product_list
								.col-lg-3.col-md-4.col-sm-6
									include  ../../modules/cards/stocks-card/stocks-card
						.col-12
							.custom-product
								.custom-product__content
									.custom-product__img
										img(src='#{static_url}images/general/logo-cust-prod.svg', alt='Велунд')
									p.custom-product__text Мы можем сделать изделие на заказ из любого металла
									a.custom-product__link.btn.btn--circle(href='#')
										+icon('arrow-right')
						.col-12
							.download-button.btn.btn--gray.btn--br50 Показать еще
							include ../../modules/pagination/pagination
				.col-xl-3
					include ../../modules/scroll-sidebar/scroll-sidebar-listing