.basket-card-manufacturing.basket-card-modal
	.basket-card-manufacturing__left
		.basket-card-manufacturing__img
			img(src='../../../../static/images/content/basket-card-manufacturing.jpg', alt='Изображение производство')
	.basket-card-manufacturing__right
		.basket-card-manufacturing__info
			.basket-card-manufacturing__subtitle Услуга
			.basket-card-manufacturing__text Лазерная резка
		.basket-card-manufacturing__wrap
			.basket-card-manufacturing__info
				.basket-card-manufacturing__subtitle Цена
				.basket-card-manufacturing__text.hint
					| Договорная
					+icon('hint')
			button.basket-card-manufacturing__remove.remove-basket-card(type='button')
				+icon('remove')