section.s-all-popular-categories
	.container-xxl
		h2.s-all-popular-categories__title.txt--bld40 Вас могут заинтересовать
		.s-all-popular-categories__slider
			.popular-categories-slider.swiper-container
				//.swiper-wrapper
				//	.swiper-slide
				//		.popular-categories-slider__item
				//			include ../../cards/popular-categories-card/popular-categories-card
			button.popular-categories-slider__prev.swiper-prev
				+icon('arrow-right-2')
			button.popular-categories-slider__next.swiper-next
				+icon('arrow-right-2')