section.s-all-popular-categories
	.container-xxl
		h2.s-all-popular-categories__title.txt--bld24 Популярные категории
		.s-all-popular-categories__slider
			.popular-categories-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						each category in categories_list
							.popular-categories-slider__item
								include ../../cards/popular-categories-card/popular-categories-card
			button.popular-categories-slider__prev.swiper-prev
				+icon('arrow-right-2')
			button.popular-categories-slider__next.swiper-next
				+icon('arrow-right-2')