#modal-city.modal.modal-right(tabindex='-1' aria-labelledby='modalRightLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-w
				.modal-w__close.modal-close.modal-close--txt(type='button' data-dismiss='modal')
					+icon('close')
					+icon('arrow-right-2')
					.modal-close__text Выбор города
				.modal-w__title.txt--bld36 Выберите город
				.modal-w__text Найдите свой город с помощью поиска или в списке популярных городов
				.modal-w__button-city
					.radio-btn
						input#radio-city(type='radio', name='city', data-city='ru', checked)
						label.btn.btn--gray.btn--br50(for='radio-city') Россия
					.radio-btn
						input#radio-city2(type='radio', name='city', data-city='kz')
						label.btn.btn--gray.btn--br50(for='radio-city2') Казахстан
				.modal-w__search.search-input.search-input--reset
					button.search-input__search
						+icon('search')
					input(type='search', placeholder='Ваш город')
					button.search-input__reset
						+icon('close')
				.modal-w__content
					.modal-w__subtitle Популярные города
					ul.modal-w__list