#modal-filters.modal.modal-right(tabindex='-1' aria-labelledby='modalRightLabel' aria-hidden='true')
	.modal-dialog.modal-dialog--wdh600
		.modal-content
			.modal-f-wrap
				.modal-f
					.modal-f__close.modal-close(type='button' data-dismiss='modal')
						+icon('close')
					.modal-f__title Все фильтры
					.modal-f__wrap-content
						.modal-f__content
							.modal-f__list-filters
								.modal-f__item
									.modal-f__header.accordion(data-filter='mark')
										.modal-f__wrap-text
											.modal-f__text
												span Марка
												.modal-f__delete
													+icon('close')
										.modal-f__icon
											+icon('arrow-down')
									.modal-f__panel.accordion-panel
										.modal-f__search-input.search-input.search-input--reset
											button.search-input__search
												+icon('search')
											input(type='search', placeholder='Найти товар')
											button.search-input__reset
												+icon('close')
										ul.modal-f__list
											li
												a(href='#') 05Х16Н5АБ
											li
												a(href='#') 05Х16Н5АБ6Н5АБ
											li
												a(href='#') 05
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу
								.modal-f__item
									.modal-f__header(data-filter='price')
										.modal-f__wrap-text
											.modal-f__text
												span Только с ценой
										.modal-f__btn-toggle
											input#btn-toggle.checkbox(type='checkbox')
											label(for='btn-toggle')
								.modal-f__item
									.modal-f__header.accordion(data-filter='gost')
										.modal-f__wrap-text
											.modal-f__text
												span ГОСТ
												.modal-f__delete
													+icon('close')
										.modal-f__icon
											+icon('arrow-down')
									.modal-f__panel.accordion-panel
										.modal-f__search-input.search-input.search-input--reset
											button.search-input__search
												+icon('search')
											input(type='search', placeholder='Найти товар')
											button.search-input__reset
												+icon('close')
										ul.modal-f__list
											li
												a(href='#') 05Х16Н5АБ
											li
												a(href='#') 05Х16Н5АБ6Н5АБ
											li
												a(href='#') 05 под метрическую трубу под метрическую трубу
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу
								.modal-f__item
									.modal-f__header.accordion(data-filter='min-el')
										.modal-f__wrap-text
											.modal-f__text
												span Мин. диаметр электрода, в мм
												.modal-f__delete
													+icon('close')
										.modal-f__icon
											+icon('arrow-down')
									.modal-f__panel.accordion-panel
										.modal-f__search-input.search-input.search-input--reset
											button.search-input__search
												+icon('search')
											input(type='search', placeholder='Найти товар')
											button.search-input__reset
												+icon('close')
										ul.modal-f__list
											li
												a(href='#') 05Х16Н5АБ
											li
												a(href='#') 05Х16Н5АБ6Н5АБ
											li
												a(href='#') 05
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ под метрическую трубу под метрическую трубу
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу
								.modal-f__item
									.modal-f__header.accordion(data-filter='type')
										.modal-f__wrap-text
											.modal-f__text
												span Тип соединения
												.modal-f__delete
													+icon('close')
										.modal-f__icon
											+icon('arrow-down')
									.modal-f__panel.accordion-panel
										.modal-f__search-input.search-input.search-input--reset
											button.search-input__search
												+icon('search')
											input(type='search', placeholder='Найти товар')
											button.search-input__reset
												+icon('close')
										ul.modal-f__list
											li
												a(href='#') 05Х16Н5АБ
											li
												a(href='#') 05Х16Н5АБ6Н5АБ
											li
												a(href='#') 05
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу под метрическую трубу
								.modal-f__item
									.modal-f__header.accordion(data-filter='width-min-shelf')
										.modal-f__wrap-text
											.modal-f__text
												span Ширина меньшей полки, мм
												.modal-f__delete
													+icon('close')
										.modal-f__icon
											+icon('arrow-down')
									.modal-f__panel.accordion-panel
										.modal-f__search-input.search-input.search-input--reset
											button.search-input__search
												+icon('search')
											input(type='search', placeholder='Найти товар')
											button.search-input__reset
												+icon('close')
										ul.modal-f__list
											li
												a(href='#') 05Х16Н5АБ
											li
												a(href='#') 05Х16Н5АБ6Н5АБ
											li
												a(href='#') 05
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу
											li
												a(href='#') 05Х16Н5АН5АБ6Н5АБ
											li
												a(href='#') 056Н5АБ
											li
												a(href='#') 05Х166Н5АБ
											li
												a(href='#') 05Х16Н5АБ1@ASss
											li
												a(href='#') C цапковым концом под метрическую трубу
			.modal-f__buttons
				button.btn.btn--wdh220.btn--br50(type='button' data-dismiss='modal') Смотреть
				button.modal-f__clear.btn.btn--link(type='button') Сбросить фильтры