section.s-all-city
	.container-xxl
		h2.txt--bld40 Стальной плоский фланец приварной встык с соединительным выступом в других городах
		nav.s-all-city__list
			ul
				li
					a(href='#') Москва
				li
					a(href='#') Санкт-Петербург
				li
					a(href='#') Екатеринбург
				li
					a(href='#') Нижний Новгород
				li
					a(href='#') Казань
				li
					a(href='#') Новосибирск
				li
					a(href='#') Краснодар
				li
					a(href='#') Владивосток
				li
					a(href='#') Курск
				li
					a(href='#') Липецк
				li
					a(href='#') Орел
				li
					a(href='#') Мурманск
				li
					a(href='#') Тула
				li
					a(href='#') Архангельск
				li
					a(href='#') Астрахань
				li
					a(href='#') Саранск
				li
					a(href='#') Смоленск
				li
					a(href='#') Нур-Султан
				li
					a(href='#') Жезказган
				li
					a(href='#') Караганда
				li
					a(href='#') Кокшетау
				li
					a(href='#') Костанай
				li
					a(href='#') Уральск
				li
					a(href='#') Павлодар
				li
					a(href='#') Петропавловск
				li
					a(href='#') Семей
				li
					a(href='#') Усть-Каменогорск
				li
					a(href='#') Алматы
				li
					a(href='#') Кызылорда
				li
					a(href='#') Талдыкорган
				li
					a(href='#') Шымкент
				li
					a(href='#') Тараз
				li
					a(href='#') Атырау
				li
					a(href='#') Актау
				li
					a(href='#') Актобе