section.s-all-city
	.container-xxl
		h2.txt--bld40 Стальной плоский фланец приварной встык с соединительным выступом в других городах
		nav.s-all-city__list
			ul
				li
					a(href='#') Москва
				li
					a(href='#') Архангельск
				li
					a(href='#') Астрахань
				li
					a(href='#') Барнаул
				li
					a(href='#') Белгород
				li
					a(href='#') Брянск
				li
					a(href='#') Владивосток
				li
					a(href='#') Волгоград
				li
					a(href='#') Воронеж
				li
					a(href='#') Екатеринбург
				li
					a(href='#') Ижевск
				li
					a(href='#') Иркутск
				li
					a(href='#') Калининград
				li
					a(href='#') Калуга
				li
					a(href='#') Кемерово
				li
					a(href='#') Киров
				li
					a(href='#') Кострома
				li
					a(href='#') Краснодар
				li
					a(href='#') Красноярск
				li
					a(href='#') Махачкала
				li
					a(href='#') Москва
				li
					a(href='#') Мурманск
				li
					a(href='#') Набережные Челны
				li
					a(href='#') Нижний Новгород
				li
					a(href='#') Новокузнецк
				li
					a(href='#') Новосибирск
				li
					a(href='#') Ноябрьск
				li
					a(href='#') Омск
				li
					a(href='#') Оренбург
				li
					a(href='#') Орск
				li
					a(href='#') Пермь
				li
					a(href='#') Петрозаводск
				li
					a(href='#') Пятигорск
				li
					a(href='#') Ростов-на-Дону