.breadcrumbs
	.container-xxl
		ul.breadcrumbs__list
			//- +breadcrumbs-item('Каталог','catalog.html')
			//- +breadcrumbs-item('Категория', '#', true, 'Сталь', 'Чугун', 'Медь')
			//- +breadcrumbs-item('Подкатегория', '#', true, 'Трубы', 'Фланцевые листы', 'Алюминиевый прессованный профиль')
			//- +breadcrumbs-item('Товар')

section.p-product
	.container-xxl
		.row
			.col-xl-9
				h1.p-product__title.txt--bld40=product.name
			.col-12
				.row
					.col-xl-9
						include ./product-content
						include ./product-tabs
						include ../../modules/s-all/s-all-service/s-all-service
					.col-xl-3