.product-tabs
	.product-tabs__tabs.tabs
		.tabs__nav
			button.tabs__nav-item(type='button') Описание
			button.tabs__nav-item(type='button') Все характеристики
			button.tabs__nav-item(type='button') Оплата и доставка
		.tabs__content
			.product-tabs__description.tabs__content-item
				h2 Описание
				p 
					| Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость 
					a(href='#') трубы бесшовной 38х3 
					| зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
				ul
					li 05Х12Н6Д2МФСГТ
					li 11Х4В2МФ3С2
					li 11ХФ
					li 27Х2Н2М1Ф
					li 2Х6В8М2К8
					li 3Х2МНФ
				img(src='../../../static/images/content/product-img.jpg', alt='')
				p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
				p Цена бесшовной трубы 38х3 рассчитывается за тонну, при заказе от 10 тонн. На оптовые поставки со склада действует система скидок, которую Вы можете уточнить у нашего менеджера. На транзитные позиции с завода-производителя стоимость трубы бесшовной 38х3 зависит от марки стали, диаметра, толщины стенки и особых требований покупателя к данному товару. При обращении в нашу компанию Вы получаете:
			.product-tabs__specification.tabs__content-item
				h2 Все характеристики
				table
					tbody
						tr
							td Артикул
							th
							td 12345-18
						tr
							td Марка
							th
							td 05Х16Н5АБ
						tr
							td ГОСТ
							th
							td DIN 50049-1992
						tr
							td Высота
							th
							td 3 мм
						tr
							td Мин. диаметр электрода
							th
							td 15.2 мм
						tr
							td Тип соединения
							th
							td C цапковым концом под метрическую трубу
						tr
							td Ширина меньшей полки, мм
							th
							td 05Х16Н5АБ
						tr
							td Толщина меньшей полки, мм
							th
							td 3 мм
						tr
							td Ширина
							th
							td 15.2 мм
			.product-tabs__delivery.tabs__content-item
				h2 Оплата и доставка
				p Доставка металлопроката и металлический изделий точно в срок – основной принцип Компании «СтальПро». Мы постоянно совершенствуем логистику грузоперевозок.
				p На сегодняшний день в «СтальПро»:
				ul
					li Отгрузка выполняется с ближайшего к Вам склада в Москве и Московской области.
					li Сбор нужной продукции производится в одном месте, что значительно сокращает время подготовки заказа.
					li Заказ отправляется в тот же день, когда мы получили оплату, независимо от объема.
					li Металл доставляется 7 дней в неделю при любых погодных условиях.
					li Главное - мы работаем только с надежными транспортными компаниями.
