.product-content
	.product-content__content
		.product-content__slider
			.product-content__thumbs
				button.product-slider__prev
					+icon('arrow-up')
				button.product-slider__next
					+icon('arrow-up')
				.product-slider-thumbs.swiper-container
					.swiper-wrapper
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='../../../static/images/content/product-min.png' alt='')
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='../../../static/images/content/product-min-2.png' alt='')
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='../../../static/images/content/product-min.png' alt='')
						.swiper-slide
							.product-slider-thumbs__item
								.product-slider-thumbs__img
									img(src='../../../static/images/content/product-min-2.png' alt='')
			.product-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						.product-slider__img
							img(src='https://cdn-nus-1.pinme.ru/photo/66/da/66da1773ccb49e5d9aa269b7eae8be8e.jpg' alt='')
					.swiper-slide
						.product-slider__img
							img(src='../../../static/images/content/product-2.png' alt='')
					.swiper-slide
						.product-slider__img
							img(src='../../../static/images/content/product.png' alt='')
					.swiper-slide
						.product-slider__img
							img(src='../../../static/images/content/product-2.png' alt='')
				.product-slider__pagination.swiper-pagination
		.product-content__description
			h3.product-content__title.txt--bld20 Коротко о товаре
			ul.product-content__list
				li
					span Артикул
					span 12345-18
				li
					span Марка
					span 05Х16Н5АБ
				li
					span ГОСТ
					span 05Х16Н5АБ05Х16Н5АБ
				li
					span Мин. диаметр электрода
					span C цапковым концом под метрическую трубу
			a.product-content__more-description.txt--clr1(href='#') Все характеристики
	nav.product-content__mark
		h3.product-content__mark-title.txt--smbld18 Этот товар других марок
		ul
			li
				a(href='#') 05Х16Н5АБ
			li
				a(href='#') 521-03.127
			li
				a(href='#') 05Х15АБ
			li
				a(href='#') 05Х16Н56Н5АБ
			li
				a(href='#') 05Х05Х16Н5АБ
			li
				a(href='#') 05Х16Н5АБ
			li
				a(href='#') 05Х16Н05Х16Н5АБ
			li
				a(href='#') 05
			li
				a(href='#') 05Х1
			li
				a(href='#') 05Х16Н505Х16Н5АБАБ
			li
				a(href='#') 05Х05Х16Н5АБН5А
			li
				a(href='#') 05Х16Н5АБ