<div class="col-12 p-basket__basket-null">
	<div class="basket-null">
		<h1 class="basket-null__title txt--rgl30">Ваша корзина пуста</h1>
		<div class="basket-null__text">На данный момент ваша корзина пуста, вернитесь на главную страницу или перейдите
			в каталог, чтобы продолжить покупки.
		</div>
		<div class="basket-null__buttons d-flex flex-sm-row flex-column align-items-center"><a
				class="basket-null__button btn btn--wdh224 btn--gray" href="/">На главную</a><a
				class="basket-null__button btn btn--wdh224" href="/catalog/">В каталог</a></div>
	</div>
</div>

