section.p-service
	.container-xxl
		.row
			.col-xl-9
				h1.p-service__title.txt--bld40 Лазерная резка
			.col-12
				.row
					.col-xl-9
						include ./service-content
						include ./service-text
					.col-xl-3
						include ../../modules/scroll-sidebar/scroll-sidebar-service