.s-main-slider {
	margin: 0px;
	padding: 24px 0 48px;
	&__wrap {position: relative;}
	&__wrap-pagination {
		position: absolute;
		left: 60px;
		bottom: 45px;
		font-size: 14px;
		line-height: 150%;
		z-index: 2;
		&::before {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			height: 2px;
			background: $white;
			opacity: .2;
		}
	}
	&__pagination {
		display: flex;
		align-items: flex-end;
		height: 40px;
		span {
			position: relative;
			white-space: nowrap;
			&::before {
				content: '';
				position: absolute;
				top: -19px;
				left: 0px;
				right: 0px;
				height: 2px;
				background: $white;
				transition: .2s ease;
				opacity: 0;
				z-index: 3;
			}
			&.swiper-pagination-bullet-active {
				&::before {opacity: 1;}
			}
		}
	}
	.container-xxl {
		max-width: 1424px;
	}
}

@media only screen and (max-width: 1199px) {
	.s-main-slider {padding: 24px 0 36px;}
}

@media only screen and (max-width: 1023px) {
	.s-main-slider {
		&__wrap-pagination {right: 60px;}
		&__pagination {
			width: 100%;
			overflow-x: auto;
		}
	}
}

@media only screen and (max-width: 767px) {
	.s-main-slider {
		padding: 0 0 32px;
		&__wrap-pagination {
			bottom: 20px;
			left: 12px;
			right: 12px;
			font-size: 12px;
			line-height: 135%;
		}
		&__pagination {
			height: 35px;
		}
		.container-xxl {
			padding: 0px;
		}
	}
}