{% extends "catalog.html" %}
{% load catalog_tags %}
{% block meta_description %}
  {% if text_block_url.keywords_description %}
    {{ text_block_url.keywords_description|my_safe:current_filial }}
  {% elif current_menu.keywords_description %}
    {{ current_menu.keywords_description|my_safe:current_filial }}
  {% else %}
    {{ str_filter_name }} в {{ current_filial.name_info }}
  {% endif %}
{% endblock %}
{% block meta_keywords %}
  {% if text_block_url.keywords %}
    {{ text_block_url.keywords|my_safe:current_filial }}
  {% elif current_menu.keywords %}
    {{ current_menu.keywords|my_safe:current_filial }}
  {% else %}
    {{ str_filter_name }}
  {% endif %}
{% endblock %}
{% block title_page %}
    {% if text_block_url.title_main %}
      {{ text_block_url.title_main|my_safe:current_filial }}
    {% elif current_menu.title_main %}
      {{ current_menu.title_main|my_safe:current_filial }}
    {% else %}
      {{ str_filter_name }} в {{ current_filial.name_info }}
    {% endif %}
{% endblock %}
{% block content %}
    <div class="content">
        <div class="bread-crumbs">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12">
                        <ul class="bread-crumbs__list d-flex">
                            <li><a href="/" title="Главная">Главная<span></span></a></li>
                            <li>{{ current_menu }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="s-product-list">
            <div class="container-xl">
                <div class="row product-list">
                    <div class="col-12">
                        <h1 class="product-list__s-title txt--rgl30">{{ current_menu }}</h1>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 product-list__filters submenu-hidden">
                                {% include 'element/left_menu.html' %}
                            </div>
                            <div class="col-lg-9 col-md-8 s-catalog p-catalog">
                                <div class="col-12">
                                    <div class="s-catalog__wrap">
                                        <div class="s-catalog__nav">
                                            <ul class="nav nav-tabs" role="tablist">
                                                {% for item in current_menu.get_child %}
                                                    <li class="nav-item">
                                                        <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" href="#catalog-{{ item.id }}" role="tab" data-toggle="tab">{{ item.name }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="s-catalog__content">
                                            <div class="tab-content">
                                                {% for item_main in current_menu.get_child %}
                                                    <div class="s-catalog__item tab-pane fade{% if forloop.counter == 1 %} active show{% endif %}" id="catalog-{{ item_main.id }}" role="tabpanel">
                                                        <div class="row">
                                                            <div class="col-12 s-catalog__list">
                                                                <div class="row">
                                                                    {% for item in item_main.get_child %}
                                                                        <div class="col-lg-4 col-md-6 col-sm-6"><a class="category-card"
                                                                                href="{% url 'menu:menu' item.slug %}"><img
                                                                                    src="{{ media_url }}{{ item.image }}" alt="{{ item.name }}">
                                                                                <div class="category-card__button"><span>{{ item.name }}</span>
                                                                                    <div class="btn-arrow">
                                                                                        <svg class="svg-sprite-icon icon-arrow">
                                                                                            <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow">
                                                                                            </use>
                                                                                        </svg>
                                                                                    </div>
                                                                                </div>
                                                                            </a>
                                                                        </div>
                                                                    {% endfor %}
                                                                    {% comment %} <div class="col-lg-4 col-md-6 col-sm-6">
                                                                        <div class="link-card">
                                                                            <div class="link-card__text">
                                                                                Показать еще 14 категорий
                                                                            </div>
                                                                                <a class="link-card__button btn btn--white btn--h40 btn--wdh180" href="catalog-list.html">
                                                                                <svg class="svg-sprite-icon icon-arrow">
                                                                                    <use
                                                                                        xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow">
                                                                                    </use>
                                                                                </svg></a>
                                                                        </div>
                                                                    </div> {% endcomment %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'element/attention_block.html'%}
        {% include 'element/spec_block.html'%}
        <section class="s-text">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12">
                        <h2 class="s-text__title txt--rgl24">{{ current_menu.name }} в {{ current_filial.name_info }}</h2>
                    </div>
                    <div class="col-12 s-text__text">
                        {{ current_menu.description|safe }}
                    </div>
                    {% comment %} <div class="col-12 s-text__dwl-content">
                        <div class="btn btn--wdh180 btn--h40">Показать ещё</div>
                    </div> {% endcomment %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}