{% extends "catalog.html" %}
{% block content %}
  <div class="s-slider">
    <div class="container-xl">
      <div class="owl-carousel slider-one">
        {% for item in slider_list %}
          <div class="s-slider__item">
            <div class="s-slider__content">
              <div class="s-slider__title">{{ item.name }}</div><span class="s-slider__subtitle txt--rgl16">
                {{ item.text }}</span><a class="s-slider__btn-buy btn btn--wdh180 btn--h40" href="{{ item.url }}">{{ item.button_text}}</a>
            </div>
            <div class="s-slider__content-image"><img src="{{ media_url }}{{ item.image }}" alt="{{ item.name }}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <section class="s-catalog">
    <div class="container-xl">
      <div class="s-catalog__head">
        <h2 class="s-catalog__title txt--rgl24">Каталог</h2><a class="s-catalog__link btn-link" href="/catalog/">перейти
          <svg class="svg-sprite-icon icon-arrow">
            <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
          </svg></a>
      </div>
      <div class="s-catalog__wrap">

        <div class="s-catalog__nav">
          <ul class="nav nav-tabs" role="tablist">
            {% for item in main_menu_list.0.get_child%}
            <li class="nav-item"><a class="nav-link{% if forloop.counter == 1%} active{% endif %}" href="#tab-{{ item.id }}" role="tab" data-toggle="tab">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div class="s-catalog__content">
          <div class="tab-content">
            {% for item in main_menu_list.0.get_child %}
              <div class="s-catalog__item tab-pane fade{% if forloop.counter == 1 %} active show{% endif %}" id="tab-{{ item.id }}" role="tabpanel">
                <div class="row">
                  <div class="col-12 s-catalog__list">
                    <div class="row">
                      {% for sub_item in item.get_child %}
                        <div class="col-lg-3 col-md-4 col-sm-6"><a class="category-card" href="{% url 'menu:menu' sub_item.slug %}"><img src="{{ media_url }}{{ sub_item.image }}" alt="{{ sub_item.name }}">
                                  <div class="category-card__button"><span>{{ sub_item.name }}</span>
                                    <div class="btn-arrow">
                                      <svg class="svg-sprite-icon icon-arrow">
                                        <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
                                      </svg>
                                    </div>
                                  </div></a>
                        </div>  
                      {% endfor %}
                      
                      {% comment %} <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="link-card">
                                  <div class="link-card__text">Показать еще 14 категорий</div><a class="link-card__button btn btn--white btn--h40 btn--wdh180" href="category.html">
                                    <svg class="svg-sprite-icon icon-arrow">
                                      <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
                                    </svg></a>
                                </div>
                      </div> {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="s-catalog-service">
    <div class="container-xl">
      <h2 class="s-catalog-service__title txt--rgl24">Наши услуги</h2>
      <div class="row s-catalog-service__list">
        {% for item in service_list %}
          <div class="col-lg-4 col-sm-6"><a class="service-card" href="{% url 'menu:product' item.slug %}">
                      <div class="service-card__image"><img src="{{ media_url }}{{ item.image }}" alt=""></div>
                      <div class="service-card__title">{{ item.name }}</div>
                      <div class="service-card__text">{{ item.text_service }}</div>
                      <div class="service-card__icon btn-arrow btn-arrow--h40">
                        <svg class="svg-sprite-icon icon-arrow-nav">
                          <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow-nav"></use>
                        </svg>
                      </div></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% include 'element/spec_block.html'%}
  {% include 'element/feedback.html'%}
  <section class="s-article dot-disabled">
    <div class="container-xl">
      <div class="s-article__head">
        <h2 class="s-article__title txt--rgl24">Статьи</h2><a class="s-article__link btn-link" href="article.html">все
          <svg class="svg-sprite-icon icon-arrow">
            <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
          </svg></a>
      </div>
      <div class="s-article__list owl-carousel slider-four">
        <div class="s-article__item"><a class="article-card" href="inner-article.html"><img src="../../../../static/images/content/article.jpg" alt="">
            <div class="article-card__title">Почему появляется радуга?</div></a></div>
        <div class="s-article__item"><a class="article-card" href="inner-article.html"><img src="../../../../static/images/content/article.jpg" alt="">
            <div class="article-card__title">Почему появляется радуга?</div></a></div>
        <div class="s-article__item"><a class="article-card" href="inner-article.html"><img src="../../../../static/images/content/article.jpg" alt="">
            <div class="article-card__title">Почему появляется радуга?</div></a></div>
        <div class="s-article__item"><a class="article-card" href="inner-article.html"><img src="../../../../static/images/content/article.jpg" alt="">
            <div class="article-card__title">Почему появляется радуга?</div></a></div>
        <div class="s-article__item"><a class="article-card" href="inner-article.html"><img src="../../../../static/images/content/article.jpg" alt="">
            <div class="article-card__title">Почему появляется радуга?</div></a></div>
      </div>
      <div class="row">
        <div class="col-12"><a class="s-article__link-button btn btn--h40 btn--wdh180" href="article.html">Все статьи</a></div>
      </div>
    </div>
  </section>
  <section class="s-news dot-disabled">
    <div class="container-xl">
      <div class="s-news__head">
        <h2 class="s-news__title txt--rgl24">Новости</h2><a class="s-news__link btn-link" href="{% url 'news:index' %}">все
          <svg class="svg-sprite-icon icon-arrow">
            <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
          </svg></a>
      </div>
      <div class="s-news__list owl-carousel slider-three">
        {% for item in news_list %}
          <div class="s-news__item">
            <div class="news-card">
              <div class="news-card__image"><img src="{{ media_url }}{{ item.image }}" alt="{{ item.name }}"></div>
              <div class="news-card__content">
                <div class="news-card__title">{{ item.name }}</div>
                <time class="news-card__date">{{ item.date }}</time>
                <div class="news-card__hidden"> 
                  <div class="news-card__text">{{ item.description }}</div><a class="news-card__button btn btn--h40 btn--gray" href="{% url 'news:detail' item.slug %}">читать далее
                    <svg class="svg-sprite-icon icon-arrow">
                      <use xlink:href="{{ static_url }}images/svg/symbol/sprite.svg#arrow"></use>
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-12"><a class="s-news__link-button btn btn--h40 btn--wdh180" href="news.html">Все новости</a></div>
      </div>
    </div>
  </section>
  <section class="s-text">
    <div class="container-xl">
      <div class="row">
        <div class="col-12">
          <h2 class="s-text__title txt--rgl24">{{ project_settings.title_text_index }}</h2>
        </div>
        <div class="col-12 s-text__text">
          {{ project_settings.text_index|safe }}
        </div>
        <div class="col-12 s-text__dwl-content">
          <div class="btn btn--wdh180 btn--h40">Показать ещё</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}