{% extends "catalog.html" %}
{% block content %} 
    {% include 'element/breadcrumb.html' %}
    <section class="s-product-service">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <h1 class="txt--rgl30">{{ product.name }}</h1>
                   {{ product.description|safe }}
                   <a class="btn-link btn-link--prev" href="{% url 'menu:menu' product.catalog.slug %}">
                        <svg class="svg-sprite-icon icon-arrow">
                            <use xlink:href="static/images/svg/symbol/sprite.svg#arrow"></use>
                        </svg>вернуться ко всем услугам</a>
                </div>
            </div>
        </div>
    </section>
    <section class="s-service">
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <h2 class="s-service__title txt--rgl24">Анодирование алюминия</h2>
                    <div class="s-service__text txt--rgl14">Вы можете добавить в корзину данную услугу наряду с
                        металлургической продукцией, и наш менеджер уточнит все необходимые детали после оформления заказа.
                    </div><a class="s-service__button btn btn--h40" href="#">Заказать услугу</a>
                </div>
            </div>
        </div>
    </section>
    {% include 'element/spec_block.html'%}
    {% include 'element/payment_delivery_block.html'%}
{% endblock %}