extends ../base.pug

block variables
	- var title = 'Главная страница'
	- var description = ''

block content
	include ../pages/main/s-main-slider
	include ../modules/s-all/s-all-popular-categories/s-all-popular-categories
	include ../pages/main/s-main-catalog
	include ../pages/main/s-main-manufacturing
	include ../pages/main/s-main-work
	include ../pages/main/s-main-delivery
	//- //- include ../modules/s-all/s-all-stocks/s-all-stocks
	//- //- include ../modules/s-all/s-all-news/s-all-news
	include ../pages/main/s-main-answers
	include ../modules/s-all/s-all-feedback/s-all-feedback

block modal
	include ../modules/modal/modal-city.pug
	include ../modules/modal/modal-callback.pug
	include ../modules/modal/modal-thanks.pug
	include ../modules/modal/modal-basket/modal-basket.pug
	include ../modules/modal/modal-search.pug