extends ../base.pug

block variables
	- var title = 'Список товаров'
	- var description = ''

block content
	include ../pages/product-listing/p-product-listing
	include ../modules/s-all/s-all-gost/s-all-gost
	//- include ../modules/s-all/s-all-stocks/s-all-stocks
	include ../modules/s-all/s-all-popular-categories/s-all-popular-categories-2
	include ../modules/s-all/s-all-seotext/s-all-seotext
	include ../modules/s-all/s-all-city/s-all-city
	include ../modules/s-all/s-all-text/s-all-text

block modal
	include ../modules/modal/modal-city
	include ../modules/modal/modal-callback
	include ../modules/modal/modal-thanks
	include ../modules/modal/modal-basket/modal-basket
	include ../modules/modal/modal-search