a.manufacturing-card(href='#')
	.manufacturing-card__img
		img(src='../../../../static/images/content/manufacturing-card.png', alt='')
	.manufacturing-card__title Производство нержавеющих труб
	.manufacturing-card__btn.btn.btn--circle.btn--trparent-svg
		+icon('arrow-right')