a.manufacturing-card(href="#")
	.manufacturing-card__img
		img(src="../../../../static/images/content/manufacturing-card.png", alt="Производство пружин")
	.manufacturing-card__data 1-7 дней
	.manufacturing-card__title Производство пружин
	.manufacturing-card__btn.btn.btn--circle.btn--trparent-svg
		+icon('arrow-right')