.main-slider {
	border-radius: 15px;
	.swiper-slide {overflow: hidden;}
}

.s-main-slider__wrap {
	.swiper-pagination-bullet {
		position: relative;
		color: $white;
		opacity: .7;
		transition: .2s ease;
		cursor: pointer;
		// &::after {
		// 	display: block;
		// 	content: '';
		// 	position: absolute;
		// 	top: -13px;
		// 	left: 0;
		// 	right: 0;
		// 	height: 2px;
		// 	background: $white;
		// 	opacity: 0;
		// }
		&:not(:last-child) {margin-right: 32px;}
		&.swiper-pagination-bullet-active, &:hover {opacity: 1}
		// &.swiper-pagination-bullet-active {
		// 	&::after {opacity: 1;}
		// }
	}
}

@media only screen and (max-width: 767px) {
	.main-slider {border-radius: 0px;}
}