.s-manufacturing-slider {
	&__prev {left: -19px;}
	&__next {right: -19px;}
}

@media only screen and (max-width: 767px) {
	.s-manufacturing-slider {
		&__prev {left: 0px;}
		&__next {right: 0px;}
	}
}

@media only screen and (max-width: 575px) {
	.s-manufacturing-slider{
		padding-right: 20%;
	}
}