section.payment-delivery
	.container-xxl
		.payment-delivery__title.txt--bld40 Доставка и оплата
		.payment-delivery__callback.b-all-callback
			.b-all-callback__title
				| Есть вопросы?
				br
				| Будем рады вам помочь
			.b-all-callback__list
				.b-all-callback__item
					.b-all-callback__suptext По телефону
					a.b-all-callback__text(href='tel:#{current_filial.phone}')=current_filial.phone
				.b-all-callback__item
					.b-all-callback__suptext Бесплатно по РФ
					a.b-all-callback__text(href='tel:#{current_filial.phone_dop}')=current_filial.phone_dop
				.b-all-callback__item
					.b-all-callback__suptext По почте
					a.b-all-callback__text(href='mailto:#{current_filial.email}')=current_filial.email
				.b-all-callback__item
					button.btn.btn--wdh185.btn--br50.btn--lgh.btn--m-wdh100(type='button', data-toggle='modal', data-target='#modal-callback') Позвонить вам?
		.payment-delivery__list
			.row
				.col-md-6
					include ../../modules/cards/hidden-card/hidden-card-2
				.col-md-6
					include ../../modules/cards/hidden-card/hidden-card-3