section.s-all-service
	.container-xxl
		.s-all-service__item
			.s-all-service__img
				img(src='../../../static/images/content/service.jpg', alt='Гидроабразивная резка')
			.s-all-service__content
				h3.s-all-service__title Возможно, вам нужна гидроабразивная резка?
				p.s-all-service__text С данным товаром часто заказывают гидроабразивную резку, поэтому мы предлагаем вам добавить ее в корзину
				.s-all-service__buttons
					button
						| В заявку
						+icon('add-basket')
					a(href='#')
						| Узнать больше об услуге
						+icon('arrow-right-2')