#modal-filters.modal.modal-right(tabindex='-1' aria-labelledby='modalRightLabel' aria-hidden='true')
	.modal-dialog.modal-dialog--wdh600
		.modal-content
			.modal-f
				.modal-f__close.modal-close(type='button' data-dismiss='modal')
					+icon('close')
				.modal-f__title Все фильтры
				.modal-f__wrap-content
					.modal-f__text-f Выберите нужные вам параметры, чтобы легче найти  необходимую вам продукцию
					.modal-f__content
						.modal-f__list-filters
							.modal-f__item
								.modal-f__header.accordion(data-filter='mark')
									.modal-f__text
										| Марка
										.modal-f__delete
											+icon('close')
									.modal-f__icon
										+icon('arrow-down')
								.modal-f__panel.accordion-panel
									.modal-f__search-input.search-input.search-input--reset
										button.search-input__search
											+icon('search')
										input(type='search', placeholder='Найти товар')
										button.search-input__reset
											+icon('close')
									ul.modal-f__list
										li
											a(href='#') 05Х16Н5АБ
										li
											a(href='#') 05Х16Н5АБ6Н5АБ
										li
											a(href='#') 05
										li
											a(href='#') 05Х16Н5АН5АБ6Н5АБ
										li
											a(href='#') 056Н5АБ
										li
											a(href='#') 05Х166Н5АБ
										li
											a(href='#') 05Х16Н5АБ1@ASss
										li
											a(href='#') C цапковым концом под метрическую трубу
							.modal-f__item
								.modal-f__header.accordion(data-filter='gost')
									.modal-f__text
										| ГОСТ
										.modal-f__delete
											+icon('close')
									.modal-f__icon
										+icon('arrow-down')
								.modal-f__panel.accordion-panel
									ul.modal-f__list
										li
											a(href='#') 05Х16Н5АБ
										li
											a(href='#') 05Х16Н5АБ6Н5АБ
										li
											a(href='#') 05
										li
											a(href='#') 05Х16Н5АН5АБ6Н5АБ
										li
											a(href='#') 056Н5АБ
										li
											a(href='#') 05Х166Н5АБ
										li
											a(href='#') 05Х16Н5АБ1@ASss
										li
											a(href='#') C цапковым концом под метрическую трубу
							.modal-f__item
								.modal-f__header.accordion
									.modal-f__text
										| Мин. диаметр электрода, в мм
										.modal-f__delete
											+icon('close')
									.modal-f__icon
										+icon('arrow-down')
								.modal-f__panel.accordion-panel
									ul.modal-f__list
										li
											a(href='#') 05Х16Н5АБ
										li
											a(href='#') 05Х16Н5АБ6Н5АБ
										li
											a(href='#') 05
										li
											a(href='#') 05Х16Н5АН5АБ6Н5АБ
										li
											a(href='#') 056Н5АБ
										li
											a(href='#') 05Х166Н5АБ
										li
											a(href='#') 05Х16Н5АБ1@ASss
										li
											a(href='#') C цапковым концом под метрическую трубу
							.modal-f__item
								.modal-f__header.accordion(data-filter='type')
									.modal-f__text
										| Тип соединения
										.modal-f__delete
											+icon('close')
									.modal-f__icon
										+icon('arrow-down')
								.modal-f__panel.accordion-panel
									ul.modal-f__list
										li
											a(href='#') 05Х16Н5АБ
										li
											a(href='#') 05Х16Н5АБ6Н5АБ
										li
											a(href='#') 05
										li
											a(href='#') 05Х16Н5АН5АБ6Н5АБ
										li
											a(href='#') 056Н5АБ
										li
											a(href='#') 05Х166Н5АБ
										li
											a(href='#') 05Х16Н5АБ1@ASss
										li
											a(href='#') C цапковым концом под метрическую трубу
							.modal-f__item
								.modal-f__header.accordion
									.modal-f__text
										| Ширина меньшей полки, мм
										.modal-f__delete
											+icon('close')
									.modal-f__icon
										+icon('arrow-down')
								.modal-f__panel.accordion-panel
									ul.modal-f__list
										li
											a(href='#') 05Х16Н5АБ
										li
											a(href='#') 05Х16Н5АБ6Н5АБ
										li
											a(href='#') 05
										li
											a(href='#') 05Х16Н5АН5АБ6Н5АБ
										li
											a(href='#') 056Н5АБ
										li
											a(href='#') 05Х166Н5АБ
										li
											a(href='#') 05Х16Н5АБ1@ASss
										li
											a(href='#') C цапковым концом под метрическую трубу
						.modal-f__buttons