section.p-vacancy#page(data-base-url=current_menu.url)
	.container-xxl
		h1.p-vacancy__title.txt--bld40 Наши вакансии
		.p-vacancy__list
			.row
				.col-md-6
					include ../../modules/cards/vacancy-card/vacancy-card
				.col-md-6
					include ../../modules/cards/vacancy-card/vacancy-card
				.col-md-6
					include ../../modules/cards/vacancy-card/vacancy-card
				.col-md-6
					include ../../modules/cards/vacancy-card/vacancy-card
				.col-12
					.download-button.btn.btn--gray.btn--br50 Показать еще
					include ../../modules/pagination/pagination