.catalog-menu {
	color: $txt-black;
	white-space: normal;
	&__wrap {
		display: flex;
		width: auto;
		background: $white;
		border-radius: 15px;
		box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
		overflow: hidden;
	}
	&__submenu-level {
		display: none;
		&.show {
			display: block;
			& + .catalog-menu {
				&__submenu-level {
					&.show {
						.catalog-menu__submenu {
							&::before {
								content: '';
								position: absolute;
								left: 0px;
								top: 12px;
								bottom: 12px;
								width: 1px;
								background: $ui-lgh-gray;
							}
						}
					}	
				}
			}
			
		}
		&.active {
			.catalog-menu {
				&__list, &__list-submenu {
					overflow-y: hidden;	
				}
				&__list-submenu {padding-right: 3px;}
			}
		}
	}
	&__left {
		display: block;
		flex: 0 0 270px;
		height: 560px;
		padding: 24px;
		padding-right: 0px;
		background: $ui-lgh-gray;
	}
	&__title, &__title-submenu {
		display: block;
		margin-left: -24px;
		margin-top: -8px;
		padding: 8px 40px 8px 24px;
		font-size: 20px;
		font-weight: 700;
		line-height: 120%;
		&:hover {
			color: $accent-main;
		}
		&:active {
			color: $accent-main2;
		}
	}
	&__list {
		max-height: 472px;
		margin: 0px;
		margin-left: -24px;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar-track {
			background: $ui-lgh-gray;
			border-radius: 50px;
		}
		&::-webkit-scrollbar {
			width: 3px;
			background: $ui-lgh-gray;
			border-radius: 50px;

		}
		&::-webkit-scrollbar-thumb {
			background: $accent-main;
			border-radius: 50px;
		}
		li {
			a {
				position: relative;
				display: block;
				margin-left: 14px;
				padding: 8px 40px 8px 10px;
				border-radius: 8px 0px 0px 8px;
				font-weight: 500;
				line-height: 150%;
				transition: .2s ease;
				svg {
					position: absolute;
					top: 12px;
					right: 18px;
					margin-right: 0px;
					opacity: 0;
				}
			}
			&:hover, &.active {
				a {
					background: $white;
					color: $accent-main;
					svg {opacity: 1;}
				}
			}			
		}
	}
	&__submenu {
		position: relative;
		display: none;
		width: inherit;
		height: 560px;
		padding: 24px;
		padding-right: 10px;
		&.active {
			display: block;
		}
	}
	&__list-submenu {
		max-height: 472px;
		margin: 0px;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar-track {
			background: $ui-lgh-gray;
			border-radius: 50px;
		}
		&::-webkit-scrollbar {
			width: 3px;
			background: $ui-lgh-gray;
			border-radius: 50px;

		}
		&::-webkit-scrollbar-thumb {
			background: $accent-main;
			border-radius: 50px;
		}
		li {
			a {
				position: relative;
				display: block;
				padding: 8px 0px;
				padding-right: 40px;
				font-weight: 500;
				line-height: 150%;
				transition: .2s ease;
				&:hover {
					color: $accent-main;
					svg {opacity: 1;}
				}
				svg {
					position: absolute;
					top: 12px;
					right: 18px;
					margin-right: 0px;
					opacity: 0;
				}
			}
			&.active {
				a {
					color: $accent-main;
					svg {opacity: 1;}
				}
			}
		}
	}
}

.catalog-submenu {
	display: none;
	position: absolute;
	top: 0;
	left: 290px;
	right: 0;
	padding: 36px 20px 45px 30px;
	&__wrap {
		max-height: 576px;
		height: 100%;
		column-count: 3;
		overflow-y: auto;
		overflow-x: hidden;
		&::-webkit-scrollbar-track {
			background: $ui-lgh-gray;
			border-radius: 50px;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background: $ui-lgh-gray;
			border-radius: 50px;

		}
		&::-webkit-scrollbar-thumb {
			background: $accent-main;
			border-radius: 50px;
		}
	}
	&__item {
		max-width: 260px;
		break-inside: avoid-column;
		margin-bottom: 24px;
	}
	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: 135% !important;
	}
	&__list {
		margin: 16px 0px 24px;
		color: $txt-black90;
		font-size: 14px;
		font-weight: 500;
		li {
			&:not(:last-child) {margin-bottom: 12px;}
		}
		a {
			&:hover {color: $accent-main2}
			&:active {color: $accent-main}
		}
	}
	&.active {display: block;}
}