section.news-listing#page(data-base-url=current_menu.url)
	.container-xxl
		h1.news-listing__title.txt--bld40 Новости компании
		.news-listing__callback.b-all-callback
			.b-all-callback__content
				.b-all-callback__title Подпишитесь на рассылку и узнавайте о выходе новостей, акций и статей первым
				form.b-all-callback__form.needs-validation(action='', method='get', novalidate)
					.form-group
							input.form-control(type='tel', placeholder='Ваш телефон', pattern="\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}", minlength='18', inputmode='numeric', required)
							button.btn.btn--circle(type='submit')
								+icon('arrow-right')
					.form-group
						label.checkbox.checkbox--white
							input.form-control(type='checkbox', checked, required)
							span.checkbox__text
								.policy.policy--white
									| Даю согласие на 
									a(href='policy.html', target='_blank') обработку персональных данных
			.b-all-callback__wrap-img
				.b-all-callback__img
					//- img
		.news-listing__list
			.row
				.col-md-8
					include ../../modules/cards/news-card/news-card-4
				.col-md-4
					include ../../modules/cards/news-card/news-card-3
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-md-4
					include ../../modules/cards/news-card/news-card-2
				.col-md-8
					include ../../modules/cards/news-card/news-card-4
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-md-4
					include ../../modules/cards/news-card/news-card
				.col-12
					.download-button.btn.btn--gray.btn--br50 Показать еще
					include ../../modules/pagination/pagination