section.p-news
	.container-xxl
		.row
			.col-xl-3
				include ../../modules/scroll-sidebar/scroll-sidebar-article
			.col-xl-9
				article#page-art-news.p-news__main-text
					h1 Что такое ковка?
					p 
						strong Ковка 
						| - это производственный процесс, включающий формование металла путем ковки, прессования или прокатки с помощью молотка или штампа. Ковку часто классифицируют в зависимости от температуры, при которой она выполняется: холодная, теплая или горячая.
					p Ковать можно самые разные металлы. Типичный металл, который используется при ковке это сталь, разных видов, например, углеродистая, легированная или нержавеющая. Также можно ковать очень мягкие металлы, такие как алюминий, латунь и медь. В процессе ковки можно производить детали с превосходными механическими свойствами и с минимальными отходами. Основная концепция заключается в том, что исходный металл пластически деформируется до желаемой геометрической формы, что придает ему высокое сопротивление усталости и дополнительную прочность. Этот процесс является экономически выгодным с возможностью массового производства деталей и достижения определенных механических свойств в готовом продукте.
					figure
						img(src='#{static_url}images/content/article.jpg', alt='Изображение статьи')
					h2 История ковки
					p Мастера кузнечного дела занимались этим тысячи лет. Сначала бронза и медь были наиболее распространенными кованными металлами в бронзовом веке. Позже, когда была обнаружена способность контролировать температуру и процесс плавки железа, железо стало основным кованным металлом. Традиционными товарами являлись: кухонные принадлежности, скобяные изделия, ручные инструменты и холодное оружие. Промышленная революция позволила ковке стать более эффективным процессом массового производства. С тех пор ковка развивалась вместе с достижениями в области оборудования, робототехники, электронного управления и автоматизации. Ковка в настоящее время является всемирной отраслью с современными кузнечными предприятиями, которые производят высококачественные металлические детали самых разных размеров, форм, материалов и отделки.
					h2 Основные виды ковки
					p 
						strong Ударная ковка 
						| - это процесс обработки нагретого металла с помощью молота для придания ему формы штампа. Некоторые штампы могут иметь разнообразную форму, в то время, как другие представляют собой плоскую поверхность.
					p 
						strong Ковка на прессе 
						| - один из наиболее часто используемых процессов. Вместо того, чтобы молотить или раскатывать материал, для придания формы деталям, используется пресс. Для сжатия материала пресс создает значительную силу, некоторые из них могут использовать давление до 50 000 тонн. Пресс движется с меньшей скоростью по сравнению с молотком, что позволяет ему проникать глубже в материал, таким образом металлическая деталь подвергается воздействию равномерно. После ковки, деталь получает новую форму и имеет более плотную структуру, что делает ее более прочной и упругой.
					p По сравнению с методом ударной ковки, ковка с помощью пресса имеет много полезных преимуществ. Этот способ обеспечивает большую точность и производительность, что делает его пригодным для обработки крупных деталей. Некоторые прессы автоматизированы, что снижает трудозатраты и общие затраты на производство. Это также более экономичное решение для крупносерийного производства.
					p 
						strong Валковая ковка 
						| - еще один вид обработки, который в основном используется для производства стальных стержней и длинных деталей. В процессе ковки используются два цилиндрических валка, которые деформируют пруток. Нагретый материал проходит через валки до достижения желаемой формы и размера, что приводит к меньшим отходам материала. По сравнению с некоторыми другими методами, ударная ковка обеспечивает благоприятную зернистую структуру.
					p 
						strong Высадочная ковка 
						| - это производственный процесс, при котором диаметр металла увеличивается за счет сжатия его длины. Кривошипные прессы и специальный высокоскоростной станок используются в процессах штамповки в осадке. Кривошипные прессы обычно устанавливаются в горизонтальной плоскости для повышения эффективности и быстрой замены металла с одной станции на другую. Также возможно использование вертикальных кривошипных или гидравлических прессов.
					p Преимущества высадочной ковки:
					ul
						li Высокая производительность до 4500 деталей в час
						li Возможна полная автоматизация
						li Устранение тяги и заусенцев поковки
						li Практически не производит отходов
					p Методы штамповки часто классифицируются в зависимости от температуры, при которой были детали выкованы: горячая штамповка и холодная штамповка.
					p 
						strong Автоматическая горячая штамповка 
						| - это процесс при котором стальные стержни прокатной длины вставляются в один конец кузнечно-прессовой машины при комнатной температуре, а изделия горячей ковки выходят из другого конца. Пруток нагревается с помощью мощных индукционных катушек до температуры в диапазоне 2190–2370 ° F менее чем за 60 секунд. Пруток очищается от накипи с помощью роликов и делится на заготовки.
					p На этом этапе металл проходит через несколько стадий формования, которые можно сочетать с высокоскоростными операциями холодной штамповки. Обычно процесс холодной штамповки оставляют на этапе чистовой обработки. Таким образом можно воспользоваться преимуществами холодной обработки, сохраняя при этом высокую скорость автоматической горячей штамповки.
					figure
						img(src='#{static_url}images/content/article-2.jpg', alt='Изображение статьи')
					p Преимущества автоматической горячей штамповки:
					ul
						li Высокая производительность
						li Использование недорогих материалов
						li Минимальные трудозатраты на эксплуатацию техники
						li Практически отсутствуют отходы материала (экономия материала на 20–30% по сравнению с традиционной ковкой)
					p Открытая и закрытая штамповки, как вид ковки.
					p 
						strong Традиционная кузнечная ковка 
						| - это разновидность открытой штамповки. Этот процесс требует размещения заготовки между двумя поверхностями, такими как наковальня и молоток. Молоток ударяет по заготовке, образуя ее.
					p Современная ковка в открытых штампах часто включает использование двух штампов. Заготовка зажата между матрицами, но никогда полностью не ограничивается. К преимуществам выбора открытой штамповки можно отнести:
					ul
						li Однородное покрытие
						li Низкая вероятность дефектов
						li Повышенная прочность и сопротивление усталости
						li Достаточно мелкая зернистая структура
					p 
						strong Ковка в закрытых штампах (штамповка) 
						| - представляет собой процесс сжатия заготовки в штампе, который содержит полости. Заготовка удерживается в матрице, при приложении силы металл заполняет пространство в ее полости. Когда металл сжимается, излишки материала вытесняются из штампа и после ковки удаляются. Этим методом можно изготавливать детали массой до 25 тонн. Он также позволяет получать почти чистые формы, что ограничивает необходимость в отделке.
					figure
						img(src='#{static_url}images/content/article-3.jpg', alt='Изображение статьи')
					h2 Где применяется ковка
					p Ковка используется на протяжении тысячелетий и по-прежнему является решением для отраслей по всему миру. Процессы ковки составляют важную часть нашей экономики, поскольку детали, изготовленные данным способом, используют во многих областях: национальная оборона, автомобилестроение, добыча металлов и нефти, даже хирургические и стоматологические инструменты могут быть сделаны из кованого металла. Так же использование деталей, которые изготовлены методом ковки могут привести к сокращению затрат на производство. Эти методы подходят для работы с различными материалами, однако нержавеющая сталь и железо остаются наиболее часто используемыми.
				.p-news__data
					time 30 ноября