a.news-card.news-card--accent(href='#')
	.news-card__title Разнообразие кабельной продукции
	.news-card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis aliquam eleifend imperdiet tellus phasellus enim mattis tortor.
	time.news-card__time(datetime='2020-10-20') 20.10.2020
	.news-card__btn.btn.btn--circle.btn--trparent-svg
		+icon('arrow-right')